.blogCard {
  box-sizing: border-box;
  width: 93%;
  min-height: 150px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 16px;
  color: rgba(0,0,0,.87);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.blogCard h2 {
  font-size: 24px;
  font-weight: 100;
  color: #686868;
}
